.body {
  background: linear-gradient(136.05deg, #f5f7fa 1.07%, #f4f6f8 99.3%);
}
.container {
  margin-top: -2rem;
  position: absolute;
  margin-left: 60px;
  padding-bottom: 50px;
}
@media screen and (max-width: 636px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}
